@use '../../../../../../assets/global/variables' as *;
@use '../../../../../../assets/global/mixins' as *;

.buyback-list-page {
  padding: $spacing-xl 0;
}

.list-header {
  margin-bottom: $spacing-xl;
}

.list-content {
  @include flex-center;
  min-height: 400px;
}

.placeholder-text {
  color: $text-tertiary;
}
