@use '../../../../../assets/global/variables' as *;
@use '../../../../../assets/global/mixins' as *;

.summary-page {
  padding: $spacing-xl 0;
  min-height: calc(100vh - 200px);
}

.summary-header {
  margin-bottom: $spacing-xl;

  h1 {
    color: $text-primary;
    margin-bottom: $spacing-sm;
  }

  p {
    color: $text-secondary;
  }
}

.summary-content {
  @include flex-center;
  min-height: 400px;
}

.placeholder-text {
  color: $text-tertiary;
  font-size: $font-size-medium;
}
